<ion-view view-title="World Of Steel"  class="main-bg-color">
	<ion-header-bar class="bar-subheader">
    	<h4 class="text-center ">Forgot Password</h4>
  	</ion-header-bar>
  <ion-content>
    <!-- Logo -->
    <div class="padding text-center">
      	<p class="text-center" style="margin-top:30px;">
	  		<img src="img/icon.png" height="120px;" width="120px;">
		</p>
    </div>
	<div class="padding" style="color:#000">
		<center><b>Can't sign in? Forgot your password?</b></center>
		<hr style="width:75%">
		<p>Enter your registered email address. we'll send you password reset instructions.</p>
	</div>
    <!-- Login form -->
    <div class="list list-inset no-bg">
      <label class="item item-input dark-input">
        <input type="text" placeholder="Email" ng-model="user.forgot_email">
      </label>
    </div>
    
    <div class="padding text-center">
      <button class="button button-block login-button" ng-click="forgot(user)">
        Send me reset instructions
      </button>
	  <a href="#/app/login" class="positive">Login</a>
    </div>

    <!-- Social login -->
    <!--<div class="padding text-center social-button">
      <span class="light">Or login with</span>

      <div class="row padding-top">
        <div class="col-33 text-center">
          <a href="#" class="circle-button facebook-color">
            <i class="ion-social-facebook"></i>
          </a>
        </div>
        <div class="col-33 text-center">
          <a href="#" class="circle-button twitter-color">
            <i class="ion-social-twitter"></i>
          </a>
        </div>
        <div class="col-33 text-center">
          <a href="#" class="circle-button googleplus-color">
            <i class="ion-social-googleplus"></i>
          </a>
        </div>
      </div>
    </div>-->

  </ion-content>
</ion-view>
