<ion-view view-title="World Of Steel">
	<ion-header-bar class="bar-subheader">
    	<h4 class="text-center ">Office Information</h4>
  	</ion-header-bar>
	<ion-content>
		<div class="list">
			<a class="item item-icon-left" style="white-space: normal;">
				<i class="icon ion-ios-location"></i>
				516 / 517 Navratan, P.D. Mello Road, Carnac Bridge, Mumbai, Maharashtra 400009
			</a>
			
			<a class="item item-icon-left" href="https://twitter.com/worldofsteel" target="_blank">
				<i class="icon ion-social-twitter"></i>
				https://twitter.com/worldofsteel
			</a>
            
            <a class="item item-icon-left item-text-wrap" href="https://www.linkedin.com/company/ellias-international?trk=biz-companies-cym" target="_blank">
				<i class="icon ion-social-linkedin"></i>
				https://www.linkedin.com/company/ellias-international?trk=biz-companies-cym
			</a>
            
            <a class="item item-icon-left" href="#">
				<i class="icon ion-social-skype"></i>
				Our Skype ID : worldofsteel
			</a>
            
			<a class="item item-icon-left item-icon-right" href="tel:+12 345 678 000">
				<i class="icon ion-iphone"></i>
				+91 (22) 66317270
				<i class="icon ion-ios-telephone-outline"></i>
			</a>
            <a class="item item-icon-left item-icon-right" href="tel:+12 345 678 000">
				<i class="icon ion-iphone"></i>
				+91 (22) 66317271
				<i class="icon ion-ios-telephone-outline"></i>
			</a>
		</div>
    </ion-content>
  </ion-view>