<ion-view view-title="Office Information">
	<ion-content>
		<div class="list">
			<a class="item item-icon-left" style="white-space: normal;">
				<i class="icon ion-ios-location"></i>
				WorldofSteel Automation Tampa, FL33634, USA
			</a>
			
			<a class="item item-icon-left" href="#">
				<i class="icon ion-email"></i>
				support@WorldofSteel.com
			</a>
			
			<a class="item item-icon-left item-icon-right" href="tel:+12 345 678 000">
				<i class="icon ion-iphone"></i>
				+12 345 678 000
				<i class="icon ion-ios-telephone-outline"></i>
			</a>
		</div>
    </ion-content>
  </ion-view>